@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">BEM-VINDOS</h1>
    <center>
        <img src="https://img.freepik.com/vetores-premium/modelo-de-logotipo-da-clinica-medica_8188-16.jpg"
    </center>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
